<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Message Page</title>
  <link rel="stylesheet" href="./font-awesome.min.css" type="text/css">
  <link rel="stylesheet" href="./style.css">
</head>

<body onload="wordWrapFunc()">
  <div class="py-3 text-center">
    <div class="container">
      <div class="row">
        <div class="mx-auto p-4 col-md-7"
          style="	background-image: linear-gradient(to bottom,  rgba(200, 200, 200, 0.25), rgba(120, 120, 120, 0.55));	background-position: top left;	background-size: 100%;	background-repeat: repeat;">
          <h1 class="mb-4">Initial message of SHA256 Hash</h1>
          <div class="text-left">
            <h3>Message:</h3>
            <span id="messageText" class="text-left"><%= message %></span><br>
            <button name="" id="my_button" type="button"
              class="button copy-command-button copy-command-button-is-not-uppercase copy-command-button-has-left-margin"
              onclick="copyToClipboard_div()">Copy</button>
            <br /><br>
            <h4>Hash:</h4>
            <p id="hashText"><%= hash %> </p>
            <a class="btn btn-primary" href="/ui">Back</a>
          </div>
        </div>
      </div>
    </div>

  </div>
  <script>

    function copyToClipboard_div() {
      let textarea = document.createElement('textarea')
      textarea.id = 't'
      textarea.style.height = 0
      document.body.appendChild(textarea)
      textarea.value = document.getElementById("messageText").innerText
      let selector = document.querySelector('#t')
      selector.select()
      document.execCommand('copy')
      document.body.removeChild(textarea)
    }
    function wordWrapFunc() {
      document.getElementById("hashText").style.wordWrap = "break-word";
    } 

  </script>
</body>

</html>